.body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: skyblue;
  height: calc(100vh - 200px);
  width: 100vw;
  min-height: 300px;

}
.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  height: 80%;
  width: 80%;
  border: solid white;
  border-radius: 20px;
  max-height: 400px;
  max-width: 400px;
}
.loginDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 100px;
}

.library {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  min-width: 300px;
  width: 80%;
  height: 100%;
  padding: 25px;
  overflow-y: scroll;
}

.library::-webkit-scrollbar {
  width: 20px;
 }
 .library::-webkit-scrollbar-track {
     background: rgba(0, 0, 0, 0);
 }
 .library::-webkit-scrollbar-thumb {
     background: rgba(0, 0, 0, 0);
     border: solid white;
     border-radius: 10px;
 
 }

.bookCard { 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  height: 300px;
  border: solid white;
  border-radius: 20px;
  padding: 10px;
}

.wordCard {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  border: solid white;
  padding: 10px;
  border-radius: 20px;
  width: 80%;
  height: 25%;
  max-width: 400px;
  max-height: 400px;
  flex-wrap: wrap;
}

.practiceAll {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: inherit;
  width: inherit;
  overflow-y: scroll;
}

.practiceAll::-webkit-scrollbar {
  width: 20px;
 }
 .practiceAll::-webkit-scrollbar-track {
     background: rgba(0, 0, 0, 0);
 }
 .practiceAll::-webkit-scrollbar-thumb {
     background: rgba(0, 0, 0, 0);
     border: solid white;
     border-radius: 10px;
 
 }